 {% block aside %}

<div class="py-5 d-inline-block" style="margin-top: 2rem; padding: 2rem">
  <h3 class="font-italic text-black-50">Il est difficile d'attraper un chat noir dans une pièce sombre, surtout lorsqu'il n'y est pas.</h3>
</div>

{% endblock aside %}