{% block footer %}
<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="inscription">S'inscrire</a>
    <a class="navbar-brand" href="#!">Connexion</a>{# work in progress #}
</nav>

{% endblock footer %}