<nav class="nav sticky-top flex-column" style="margin-bottom: 2rem">
    <nav class="navbar navbar-dark bg-dark">
        <nav class="nav nav-pills flex-sm-row">
            <a href="/">
                <img src="{{asset('chibi-origami-totoro.jpg')}}" alt="Home" class="img-responsive" style="margin:2px">
            </a>
            <a class="flex-sm-fill nav-link disabled" style="margin:2px" href="create_article">Créer un article</a>
        </nav>

        <h4>
            <span class="text-white font-weight-bold">Un Blog qu'il est bien de l'avoir fait !</span>
        </h4>

        <form class="form-inline">
            <input class="form-control mr-sm-2" type="text" placeholder="Rechercher">
            {# work in progress #}
        </form>

    </nav>
</nav>