{% extends "skeleton.html.twig" %} 
{% block title %}New Article{% endblock %}

{% block content %}

{{ form_start(form) }}
{{ form_widget(form) }}
<button class="btn btn-secondary">Créer</button>
{{ form_end(form) }}

{% endblock %}
