{% extends "skeleton.html.twig" %} {% block content %}

<div class="container-fluid">

  <div class="row">
    {% for row in result %}
    <div class="col-md-6">
      <div class="card text-truncate">
        <div class="card-body">
          <h5 class="card-title">{{row.title}}</h5>
          <p class="list-group-item">Categorie : {{row.category}}</p>
          {# <p class="medium-picture overlay" style="background-image:url({{row.image}})"></p> #}
          <p class="card-text" style="height: 3em">{{row.content}}</p>
          <div class="row">
            <a href="{{path('read_article', {id:row.id} )}}" class="btn btn-secondary col-sm-6">Lire l'article</a>
            <a href="{{path('article', {id:row.id} )}}" class="btn btn-light col-sm-6">Modifier</a>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock content %}