{% extends 'skeleton.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block content %}

{{ form_start(form) }}
{{ form_widget(form) }}
<button class="btn btn-secondary">Submit</button>
{{ form_end(form) }}

{% endblock %}
