{% extends "skeleton.html.twig" %} 


{% block content %}

<article class="text-justify">
  <section>
    <h4>{{article.title}}</h4>
    <h6>{{article.category}}</h6>
    <p>{{article.content}}</p>
  </section>
</article>

{% endblock content %}