{% extends "skeleton.html.twig" %}

{% block title %}Single Article{% endblock %}

{% block content %}
{{ form_start(form) }}
{{ form_widget(form) }}
<button class="btn btn-secondary">Update Article</button>
<a class="btn btn-danger" href="{{path('remove_article', {id:article.id})}}">Mise à mort!</a>
{{ form_end(form) }}


{% endblock %}
